
// Styling for the ion-header
ion-header {
    ion-toolbar {
      ion-title {
        // Your title styling goes here
        font-size: 1.5em;
        font-weight: bold;
        color: #080909;
        font-family: 'Playfair Display';  

      }
    }
  }
