@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
ion-title {
    font-family: 'Playfair Display', serif;  
    font-size: 1.7em;
}

ion-header {
    ion-toolbar {
      text-align: center;
    }
  }
  
  ion-content {
    padding: 20px;
  
    div {
      display: flex;
      justify-content: center;
      padding-top: 20px;
  
      ion-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin: 5px; 
        width: 140px; 
  
        ion-card-header {
          ion-card-title {
            font-size: 1.2em; 
          }
        }
  
        ion-card-content {
          color: #333; 
          font-size: 20px; 
        }
  
        ion-icon {
          font-size: 2.5em; 
          color: green; 
        }
      }

    }
  }
  