<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Actor List</title>
</head>
<body>
    <h1>Actors</h1>
    <ul>
        {% for actor in actors %}
            <li>(Actor ID: {{ actor.id }}, {{ actor.name }} Age: {{ actor.age }}, Gender: {{ actor.gender }}) ( Movie ID: {{ actor.movie_id }})</li>
        {% endfor %}
    </ul>
    <p class="button"><a href="{{ url_for('index') }}">Go back to Home <span class="emoji">🏠</span></a></p>
</body>
</html>
