<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Create Actor</title>
</head>
<body>
    <h1>Create Actor</h1>
    <form action="{{ url_for('create_actor') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <label for="movie_id">Movie ID:</label>
        <input type="number" id="movie_id" name="movie_id" required>

        <input type="submit" value="Create Actor">
    </form>
    <p class="button"><a href="{{ url_for('index') }}">Go back to Home <span class="emoji">🏠</span></a></p>
</body>
</html>
