<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Movie Database</title>
</head>
<body>
    <h1>Welcome to the Movie Database</h1>
    <p class="button"><a href="{{ url_for('movies') }}">View Movies<span class="emoji">📽</span></a></p>
    <p class="button"><a href="{{ url_for('actors') }}">View Actors <span class="emoji">🧑🎭</span></a></p>
</body>
</html>
