<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    
    <!-- Auth0 Login Button -->
    <button class="button_login" onclick="login()">Log In with Auth0</button>


    <script>
        // Auth0 Login Function
        function login() {
            // Redirect the user to the Auth0 login page
            window.location.href = 'https://ramgopalsiddh.us.auth0.com/authorize' +
                '?audience=capstone' +
                '&response_type=token' +
                '&client_id=nGfqDFBy34G83Nffy4CyajPMMb8hX31Y' +
                '&redirect_uri=http://localhost:5000/index';
        }
    </script>
</body>
</html>
