<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Movie List</title>
</head>
<body>
    <h1>Movies</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Date</th>
                <th>Actor IDs</th>
                <th>Edit Movie ✏️ </th>
                <th>delete Movie ❌</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies | sort(attribute='release_date') %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>
                        {% for actor in movie.actors %}
                            {{ actor.id }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('edit_movie_form', movie_id=movie.id) }}"><button>Edit ✏️</button></a>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="post">
                            <button type="submit">Delete ⛔</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="button"><a href="{{ url_for('index') }}">Go back to Home <span class="emoji">🏠</span></a></p>
</body>
</html>
