<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Movie List</title>
    <!-- Add for SweetAlert2 for show  custom aleart  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <script>
        // Function to get cookie value by name
            function getCookie(auth_token) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${auth_token}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }
        // Function to fetch JSON data asynchronously
        async function fetchData() {
            const token = getCookie("auth_token");

            // check for token Available if not to show errer
            if (!token) {
                // Show an error message or take appropriate action
                showError("Authentication token not found. Please log in.");
                return null;
            }

            const response = await fetch('/movies', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Content-Type': 'application/json',
                },
            })

            const jsonData = await response.json();
            console.log("Response => ", jsonData);

            return jsonData;
        }

        // Function to show an error message using SweetAlert2 when user is logout
        function showError(message) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: message,
                showCancelButton: true,
                confirmButtonText: 'Go to Login', // button for redirect user to login page
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{{ url_for('login') }}"
                }
            })
        }

        // Function to join actors array into a comma-separated string
        function joinActors(actors) {
            return actors.map(actor => actor.name).join(', ');
        }

        // Function to build and display the table
        async function buildTable() {
            try {
                const jsonData = await fetchData();
                const table = document.getElementById("movies");
                // Create data rows
                jsonData.movies.forEach(movie => {
                    const row = table.insertRow();
                    // for (const key in movie) {
                    const id = row.insertCell()
                    id.textContent = movie.id

                    const title = row.insertCell()
                    title.textContent = movie.title

                    const actors = row.insertCell()
                    actors.textContent = joinActors(movie.actors)

                    const rd = row.insertCell()
                    rd.textContent = movie.release_date

                    //Edit Movies buttons
                    const editCell = row.insertCell();
                    const editButton = document.createElement('button');
                    editButton.textContent = 'Edit ✏️';
                    editButton.addEventListener('click', () => editPage(movie.id));
                    editCell.appendChild(editButton);

                    async function editPage(movie_id) {
                        window.location.pathname = ("/edit_movie_form/" + movie_id) // forward to edit movies route
                    }

                    //Delete movies button 
                    const deleteCell = row.insertCell();
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete ⛔';
                    deleteButton.addEventListener('click', () => deleteMovie(movie.id));
                    deleteCell.appendChild(deleteButton);

                    // Function to handle delete movie route
                    async function deleteMovie(movieId) {
                        if (confirm('Are you sure you want to delete this movie?')) {
                            try {
                                const token = getCookie("auth_token");
                                const response = await fetch(`/delete_movie/${movieId}`, {
                                    method: 'POST',  // Change to DELETE method if your server supports it
                                    headers: {
                                        'Authorization': `Bearer ${token}`,
                                    },
                                });
                                // check responce of button
                                if (response.ok) {
                                    alert('Movie deleted successfully');
                                    // Refresh the page after a short delay for rerender table after delete movie
                                    setTimeout(() => {
                                        location.reload();
                                    }, 500);
                                } else {
                                    alert('Error deleting movie. Please try again.');
                                }
                            } catch (error) {
                                console.error('Error deleting movie:', error);
                            }
                        }
                    }
                });

                document.body.appendChild(table);
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
        // Call the function to build the table
        buildTable();
        // document.getElementById('getMoviesButton').addEventListener('click', buildTable());
    </script>
    <h1>Movies List</h1>
    <table id="movies" border="1">
        <!-- build table header for table -->
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actors</th>
                <th>Release Date</th>
                <th>Edit Movie ✏️ </th>
                <th>delete Movie ❌</th>
            </tr>
        </thead>
    </table>
    <p class="button"><a href="{{ url_for('index') }}">Go back to Home <span class="emoji">🏠</span></a></p>
</body>

</html>