
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    align-items: center;
}

h1 {
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
    color: #121212;
    text-decoration: none;
}

a:hover {
    color: #dee8f3;
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #007bff;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.footer {
    background-color: #343a40;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.button {
    background-color: #e0e5ea;
    color: #0d0d0c;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
    width: 300px;
    height: 35px;
    font-size: 1.5em;
}

.button:hover {
    background-color: #958f1e;
}

  span.emoji {
    font-size: 40px;
    vertical-align: middle;
    line-height: 1;
    margin-left: 5px;
  }